* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 75%;
  margin: 0 auto;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}
/* ------------ */

/* START HEADER */

/* header-top */
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 75px;
  width: 100%;
  background: #f4f9fd;
  border-bottom: 1px solid black;
}

.header-top-box {
  position: relative;
  height: 100%;
}

.header-top-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.header-top-left ul li {
  display: inline-block;
  padding-right: 20px;
  border-right: 1px solid black;
}

.header-top-left ul li:last-child {
  border-right: 0;
  padding-left: 20px;
}

.header-top-left ul li > a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: black;
}

.header-top-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.header-top-right .fas {
  color: #01b1b1;
}

.header-top-right [type=button] {
  padding: 10px;
  border-radius: 5px;
  margin-left: 20px;
}

.header-top-right [name=login] {
  color: #fd795d;
  background-color: white;
  border-style: none;
  border: 1px solid #fd795d;
}

.header-top-right [name=signin] {
  color: white;
  background-color: #fd795d;
  border-style: none;
}
/* /header-top */

/* nav */
nav {
  background: white;
  height: 75px;
  width: 100%;
  margin-top: 75px;
}

.nav-box {
  position: relative;
  height: 100%;
}

nav .logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

nav .logo img {
  height: 30px;
}

.navbar ul li {
  display: inline-block;
  font-size: 16px;
  padding-left: 20px;
}

.navbar ul li:first-child {
  padding-left: 0;
}

.navbar ul li > a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: black;
}

.navbar {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/* /nav */

/* jumbotron */
.jumbotron {
  position: relative;
  width: 100%;
}

.jumbotron img {
  width: 100%;
}

.jumbotron-content {
  position: absolute;
  top: 0;
  left: 12.5%;
  width: 50%;
  padding-top: 50px;
}

.jumbotron-content h1 {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 40px;
}

.jumbotron-content p.site-description {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.jumbotron-content [name=signin] {
  color: white;
  background-color: #fd795d;
  border-radius: 5px;
  border-style: none;
  padding: 20px;
  margin-bottom: 40px;
}
/* /jumbotron */

/* END HEADER */

/* START MAIN */

/* resources */
.resources {
  background: #f4f9fd;
  padding: 40px 0;
}

.integrations {
  width: 75%;
  margin: auto;
  text-align: center;
}

.integrations img {
  width: 200px;
}
/* /resources */


/* END MAIN */
