* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.container-75 {
  height: 100%;
  width: 75%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

/* buttons */
a.btn {
  padding: 10px;
  border: 1px solid #fd795d;
  border-radius: 5px;
  font-size: 12px;
}

a.btn-orange {
  color: white;
  background-color: #fd795d;
  border-style: none;
}

a.btn-orange:hover {
  background-color: rgba(253, 121, 93, 0.5)
}

a.btn-white {
  color: #fd795d;
  background-color: white;
}

a.btn-white:hover {
  color: white;
  background-color: #fd795d;
}
/* /buttons */

/* ------------ */

/* START HEADER */

/* header-top */
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 75px;
  width: 100%;
  background: #f4f9fd;
  border-bottom: 1px solid black;
}

.header-top-left,
.header-top-right {
  height: 100%;
  line-height: 74px;
}

.header-top-left ul,
.header-top-right ul {
  display: inline-block;
  height: 100%;
}

.header-top-left ul li,
.header-top-right ul li {
  display: inline-block;
  padding-right: 20px;
}

.header-top-right ul li {
  display: inline-block;
}

.header-top-left ul li > a {
  padding-right: 20px;
  list-style: none;
  text-decoration: none;
}

.header-top-right ul li > a {
  list-style: none;
  text-decoration: none;
}

.header-top-left ul li > a {
  color: #32495B;
  border-right: 1px solid #32495B;
}

.header-top-left ul li:last-child > a {
  border-right: 0;
}

.header-top-left ul li > a:hover {
  text-decoration: underline;
}


.header-top-right .fas {
  color: #01b1b1;
}

.header-top-right [name=login] {
  color: #fd795d;
  background-color: white;
  border-style: none;
  border: 1px solid #fd795d;
}

.header-top-right [name=signin] {
  color: white;
  background-color: #fd795d;
  border-style: none;
}
/* /header-top */

/* nav */
nav {
  background: white;
  height: 75px;
  width: 100%;
  margin-top: 75px;
}

nav .logo {
  height: 100%;
  line-height: 75px;
}

nav .logo img {
  width: 100px;
  vertical-align: middle;
}

.navbar {
  height: 100%;
  line-height: 75px;
}

.navbar ul li {
  display: inline-block;
  font-size: 16px;
  padding-left: 20px;
}

.navbar ul li:first-child {
  padding-left: 0;
}

.navbar ul li > a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: #32495B;
}

.navbar ul li > a:hover {
  text-decoration: underline;
}

/* /nav */

/* jumbotron */
.jumbotron {
  position: relative;
  width: 100%;
}

.jumbotron img {
  width: 100%;
}

.jumbotron-content {
  position: absolute;
  top: 0;
  left: 12.5%;
  width: 50%;
  padding-top: 50px;
}

.jumbotron-content h1 {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 40px;
}

.jumbotron-content p.site-description {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.jumbotron-content [name=signin] {
  color: white;
  background-color: #fd795d;
  border-radius: 5px;
  border-style: none;
  padding: 20px;
  margin-bottom: 40px;
}
/* /jumbotron */

/* END HEADER */

/* START MAIN */

/* resources section */
.resources {
  background: #f4f9fd;
  padding: 40px 0;
}

.integrations {
  width: 75%;
  margin: auto;
  text-align: center;
}

.integrations img {
  width: 200px;
}
/* /resources section */


/* END MAIN */
